![](https://ucb.catolica.edu.br/hubfs/SITE/logo__catolica--footer.svg)

## Novas Tecnologias

Professor: Remis Balaniuk, 2024

## Aula 2 - Manipulando coleções de dados

A análise de dados se faz em coleções, onde uma estrutura única armazena os valores de uma quantidade finita, mas potencialmente grande, de dados de um mesmo tipo (de forma geral). Cada exemplar de uma coleção é chamado de **instância**.

Os dados na forma de coleção são muito úteis pois permitem o processamento de grandes quantidades de instâncias com um mesmo trecho de script, contido dentro de um loop.

Nessa aula aprenderemos os conceitos básicos de criação e manipilação de coleções.

## Listas

Listas, ou objetos do tipo list, são utilizados para representar sequências de itens. As listas podem ser criadas explicitamente no script.

Alguns exemplos:

In [1]:
# declaração de uma lista vazia
lista_vazia = []

# lista de compras
lista_de_compras = ['maçã', 'banana', 'laranja']

# aposta na mega sena
aposta_mega_sena = [6, 14, 19, 20, 39, 53]

In [2]:
type(aposta_mega_sena)

list

Cada dado de um conjunto sequencial é rapidamente acessível através de índices. A primeira posição é acessível utilizando o índice 0.

In [3]:
aposta_mega_sena[0]

6

In [4]:
type(aposta_mega_sena[0])

int

Observação: uma lista pode conter instâncias de tipos diferentes.

In [5]:
lista_tipos_diferentes= [100,'a',10.0]
print(lista_tipos_diferentes,type(lista_tipos_diferentes[0]),type(lista_tipos_diferentes[1]),type(lista_tipos_diferentes[2]))

[100, 'a', 10.0] <class 'int'> <class 'str'> <class 'float'>

É possível também utilizar o índice para indicar uma posição a partir do final da lista em direção ao seu início. Para isso deve-se utilizar um índice negativo, com o -1 indicando a última posição da lista.

In [6]:
lista_de_compras[-0]

'maçã'

In [7]:
lista_de_compras[-2]

'banana'

Para saber o número de elementos de uma lista utilize o comando *len*:

In [8]:
len(aposta_mega_sena)

6

A última posição de uma lista tem como índice o seu comprimento -1, pois a primeira posição é a 0: (note que o uso de um índice além desse valor gerará um erro)

In [9]:
aposta_mega_sena[6]

IndexError: list index out of range

In [10]:
aposta_mega_sena[-7]

IndexError: list index out of range

## Exercício 0

Crie sua própria lista e acesse seus elementos (nos exemplos mostrado nesse caderno reproduza-os usando sua própria lista).

In [13]:
list = [4,20,3,4,5,6]

print(list[0])
print(list[1])
print(list[2])
print(list[3])

4
20
3
4

O índice pode ser usado também para alterar o valor de uma instância:

In [14]:
aposta_mega_sena[5] = '40'
print(aposta_mega_sena)

[6, 14, 19, 20, 39, '40']

Só posições já definidas podem ser alteradas:

In [15]:
lista_vazia[0]=1

IndexError: list assignment index out of range

Algumas operações comuns com listas:

- x in v: se o item x está na lista v retorna True, senão False
- x not in v: se o item x está na lista v retorna False, senão True
- t + v: concatena as lista t e v
- v[i:j]: o 'slice' retorna uma sublista da posição i até a j (não inclui a posição j)
- min(v): retorna o menor elemeto da lista v
- max(v): retorna o maior elemeto da lista v
-sum(v): retorna o somatório dos elementos da lista v

In [ ]:
190 in aposta_mega_sena

False

In [16]:
aposta_mega_sena + aposta_mega_sena + aposta_mega_sena

[6, 14, 19, 20, 39, '40', 6, 14, 19, 20, 39, '40', 6, 14, 19, 20, 39, '40']

In [17]:
# slice completo (intervalo)
aposta_mega_sena[2:4]

[19, 20]

In [18]:
# intervalo definido usando contagem reversa (do fim em direção ao início)
aposta_mega_sena[1:-2]

[14, 19, 20]

In [19]:
# intervalo definido só pelo término (inicia no primeiro elemento da lista)
aposta_mega_sena[:-3]

[6, 14, 19]

In [20]:
# intervalo definido só pelo início (termina no último elemento da lista)
aposta_mega_sena[2:]

[19, 20, 39, '40']

In [21]:
aposta_mega_sena[5] = 40

In [22]:
max(aposta_mega_sena)

40

Note que a comparação de ordem de dados em formato texto é feita pela ordem lexicográfica:

In [23]:
'carro' > 'casa'

False

Comparação de ordem não deve ser feita entre instâncias de tipos diferentes!

In [24]:
1 > 'carro'

TypeError: '>' not supported between instances of 'int' and 'str'

In [25]:
sum(aposta_mega_sena)

138

In [26]:
# sum só funciona em listas numéricas
sum(lista_de_compras)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Outras operações em listas:

É possível "somar" duas listas, o que corresponde a concatena-las, e "multiplicar" uma lista por um inteiro, o que corresponde a concatenar uma lista com ela mesma várias vezes:

In [27]:
lista_de_compras + aposta_mega_sena

['maçã', 'banana', 'laranja', 6, 14, 19, 20, 39, 40]

In [28]:
aposta_dupla = aposta_mega_sena * 2

In [29]:
aposta_mega_sena

[6, 14, 19, 20, 39, 40]

In [30]:
aposta_dupla

[6, 14, 19, 20, 39, 40, 6, 14, 19, 20, 39, 40]

## Exercício 1:

Crie um nova lista concatenando a segunda metade da lista aposta_mega_sena com a primeira metade da lista lista_de_compras e em seguida duplicando o resultado.

In [31]:
nova = (aposta_mega_sena[len(aposta_mega_sena)//2:]+lista_de_compras[:len(lista_de_compras)//2])*2
print(nova)

[20, 39, 40, 'maçã', 20, 39, 40, 'maçã']

## Listas e loops:

Estruturas sequenciais como as listas são ideiais para serem manipuladas por loops do tipo FOR. No exemplo abaixo a variável de controle do FOR é usada como índice para percorrer a coleção:

In [33]:
for i in range(0,len(aposta_mega_sena)):
  print("Posição {} = {}".format(i,aposta_mega_sena[i]))

Posição 0 = 6
Posição 1 = 14
Posição 2 = 19
Posição 3 = 20
Posição 4 = 39
Posição 5 = 40

#### Considerações importantes:

Note que a função *len()* foi utilizada para definir o intervalo de valores do índices de acesso à lista.

Outras versões da função *range()*:

- um único atributo define o final do intervalo, sendo que o início é definido implicitamente como sendo 0:

In [ ]:
for i in range(len(aposta_mega_sena)):
  print("Posição {} = {}".format(len(aposta_mega_sena)-i-1,aposta_mega_sena[-(i+1)]))

Posição 5 = 40
Posição 4 = 39
Posição 3 = 20
Posição 2 = 19
Posição 1 = 14
Posição 0 = 6

- uma versão completa na qual é possível definir início, fim e passo de cada loop:

In [34]:
for i in range(0,len(aposta_mega_sena),2):
  print("Posição {} = {}".format(i,aposta_mega_sena[i]))

Posição 0 = 6
Posição 2 = 19
Posição 4 = 39

In [35]:
for i in range(len(aposta_mega_sena)-1,0,-1):
  print("Posição {} = {}".format(i,aposta_mega_sena[i]))

Posição 5 = 40
Posição 4 = 39
Posição 3 = 20
Posição 2 = 19
Posição 1 = 14

Note que nesse último exemplo percorremos a lista começando da última posição até a primeira com um passo negativo.

## Exercício 2:

Percorra a lista aposta_mega_sena na ordem inversa usando um loop com variável de controle crescente e índices em ordem decrerscente.

In [36]:
for i in range(len(aposta_mega_sena)):
  print("Posição {} = {}".format(len(aposta_mega_sena)-i-1,aposta_mega_sena[-i-1]))

Posição 5 = 40
Posição 4 = 39
Posição 3 = 20
Posição 2 = 19
Posição 1 = 14
Posição 0 = 6

Um segundo formato de FOR permite o percorrimento da lista sem a função range:

In [ ]:
lista_de_compras + aposta_mega_sena

['maçã', 'banana', 'laranja', 6, 14, 19, 20, 39, 40]

In [ ]:
for x in lista_de_compras + aposta_mega_sena:
  print(x,type(x))

maçã <class 'str'>
banana <class 'str'>
laranja <class 'str'>
6 <class 'int'>
14 <class 'int'>
19 <class 'int'>
20 <class 'int'>
39 <class 'int'>
40 <class 'int'>

Note que não usamos nem range nem índices. A variável x extrai um dado por vez da coleção passada como parâmetro após o *in*.

### Copiando uma lista

Usando uma atribuição é possível criar uma nova lista com trechos de outra:

In [ ]:
lista_curta_de_compras = lista_de_compras[1:]

In [ ]:
lista_curta_de_compras

['banana', 'acacacac']

### Cuidados na cópia de listas

A variável que armazena uma lista na verdade é somente uma indicação (ponteiro) de onde essa lista está armazenada. Assim, é preciso bastante cuidado ao fazer cópias de uma lista pois uma atribuição simples estará somente criando outro ponteiro apontando para a mesma área.

In [ ]:
copia_aposta_mega_sena = aposta_mega_sena

In [ ]:
print('1:',copia_aposta_mega_sena,aposta_mega_sena)
copia_aposta_mega_sena[0] = -1
print('2:',copia_aposta_mega_sena,aposta_mega_sena)
aposta_mega_sena[-1] = -1
print('3:',copia_aposta_mega_sena,aposta_mega_sena)
copia_aposta_mega_sena[-1] = -100
print('4:',copia_aposta_mega_sena,aposta_mega_sena)

1: [6, 14, 19, 20, 39, 40] [6, 14, 19, 20, 39, 40]
2: [-1, 14, 19, 20, 39, 40] [-1, 14, 19, 20, 39, 40]
3: [-1, 14, 19, 20, 39, -1] [-1, 14, 19, 20, 39, -1]
4: [-1, 14, 19, 20, 39, -100] [-1, 14, 19, 20, 39, -100]

In [ ]:
aposta_mega_sena = [6, 14, 19, 20, 39, 53]

Mas note que se a cópia for só parcial o mesmo não acontece:

In [ ]:
copia_aposta_mega_sena = aposta_mega_sena[:-2]

In [ ]:
print('1:',copia_aposta_mega_sena,aposta_mega_sena)
copia_aposta_mega_sena[0] = -1
print('2:',copia_aposta_mega_sena,aposta_mega_sena)
aposta_mega_sena[-1] = -1
print('3:',copia_aposta_mega_sena,aposta_mega_sena)
copia_aposta_mega_sena[-1] = -100
print('4:',copia_aposta_mega_sena,aposta_mega_sena)

1: [6, 14, 19, 20] [6, 14, 19, 20, 39, 53]
2: [-1, 14, 19, 20] [6, 14, 19, 20, 39, 53]
3: [-1, 14, 19, 20] [6, 14, 19, 20, 39, -1]
4: [-1, 14, 19, -100] [6, 14, 19, 20, 39, -1]

In [ ]:
aposta_mega_sena = [6, 14, 19, 20, 39, 53]
copia_aposta_mega_sena = aposta_mega_sena

### Alterando o conteúdo de uma lista com loop:

Os índices podem ser utilizados para alterar o conteúdo da lista em posições específicas:

In [ ]:
print("Antes:",copia_aposta_mega_sena, aposta_mega_sena)
for i in range(len(aposta_mega_sena)):
  if copia_aposta_mega_sena[i]%2==1:
    copia_aposta_mega_sena[i]+=1
print("Depois:",copia_aposta_mega_sena, aposta_mega_sena)

Antes: [6, 14, 19, 20, 39, 53] [6, 14, 19, 20, 39, 53]
Depois: [6, 14, 20, 20, 40, 54] [6, 14, 20, 20, 40, 54]

Note que a alteração foi feita na cópia mas a lista "original" TAMBÉM FOI ALTERADA! A forma correta de fazer uma cópia independente de uma lista requer o uso da função copy:

In [ ]:
aposta_mega_sena = [6, 14, 19, 20, 39, 53]
copia_aposta_mega_sena = aposta_mega_sena.copy()

In [ ]:
print("Antes:",copia_aposta_mega_sena, aposta_mega_sena)
for i in range(len(aposta_mega_sena)):
  if copia_aposta_mega_sena[i]%2==1:
    copia_aposta_mega_sena[i]+=1
print("Depois:",copia_aposta_mega_sena, aposta_mega_sena)

Antes: [6, 14, 19, 20, 39, 53] [6, 14, 19, 20, 39, 53]
Depois: [6, 14, 20, 20, 40, 54] [6, 14, 19, 20, 39, 53]

## Exercício 3:

Crie uma cópia independente da lista aposta_mega_sena sem o primeiro e o último elementos. Em seguida altere essa nova lista multiplicando seus termos por 10.

In [40]:
aposta_mega_sena = [14, 19, 20, 39, 40, 10, 15]
aposta_mega_sena[1:-1]

[19, 20, 39, 40, 10]

In [41]:
copia = aposta_mega_sena[1:-1].copy()
for i in range(len(copia)):
  copia[i] *=10
print(copia)

[190, 200, 390, 400, 100]

### Outras operações que modificam a lista original:

- v.append(x): adiciona o elemento x ao final da lista v
- v.extend(t): adiciona a lista de elementos t ao final da lista v
- v.insert(i, x): adiciona o elemento x na posição i da lista v (o índice começa em 0)
- v.remove(x): remove o primeiro item com o valor x
- v.pop(i): se i for informado, remove o elemento da posição i da lista v e retorna o elemento. Se i não for informado, retorna o último elemento e o remove da lista

In [42]:
print("antes:",aposta_mega_sena)
aposta_mega_sena.append(33)
print("depois:",aposta_mega_sena)

antes: [14, 19, 20, 39, 40, 10, 15]
depois: [14, 19, 20, 39, 40, 10, 15, 33]

In [43]:
aposta_mega_sena.extend([22,23])

In [44]:
aposta_mega_sena

[14, 19, 20, 39, 40, 10, 15, 33, 22, 23]

In [46]:
print(aposta_mega_sena.pop())
print(aposta_mega_sena)

22
[14, 19, 20, 39, 40, 10, 15, 33]

Cuidados ao usar o insert:

- inserir um dado numa posição além da última causa uma extensão da lista em uma só posição e o dado pode não ficar na posição indicada:

In [47]:
len(aposta_mega_sena)

8

In [48]:
aposta_mega_sena.insert(15,10)
aposta_mega_sena

[14, 19, 20, 39, 40, 10, 15, 33, 10]

A inserção numa posição intermediária "empurra" os dados seguintes uma posição adiante.

In [49]:
aposta_mega_sena.insert(1,10)

In [50]:
aposta_mega_sena

[14, 10, 19, 20, 39, 40, 10, 15, 33, 10]

Retirando um elemento da lista:

In [51]:
del aposta_mega_sena[2]
aposta_mega_sena

[14, 10, 20, 39, 40, 10, 15, 33, 10]

Ordenando uma lista:

In [52]:
vogais = ['e', 'a', 'u', 'o', 'i']

vogais.sort()

print('Vogais ordenadas:', vogais)

Vogais ordenadas: ['a', 'e', 'i', 'o', 'u']

In [53]:
vogais.sort(reverse = True)

print('Vogais na ordem inversa:', vogais)

Vogais na ordem inversa: ['u', 'o', 'i', 'e', 'a']

## Exercício 4:

Usando um loop adicione os dados de aposta_mega_sena em lista_vazia de forma que fiquem em ordem decrescente e sem repetição.

In [54]:
lista_vazia = []

In [55]:
lista_vazia

[]

In [56]:
aposta_mega_sena[0] = 10

In [57]:
aposta_mega_sena

[10, 10, 20, 39, 40, 10, 15, 33, 10]

In [58]:
for i in aposta_mega_sena:
  if i not in lista_vazia:
    lista_vazia.append(i)
lista_vazia.sort(reverse = True)

In [59]:
aposta_mega_sena = [6, 14, 19, 20, 39, 53]
lista_vazia = []
copia=aposta_mega_sena.copy()
copia.sort(reverse = True)

In [60]:
print("antes:",lista_vazia,aposta_mega_sena,copia)
for x in copia:
  if x not in lista_vazia:
    lista_vazia.append(x)
print("depois",lista_vazia)

antes: [] [6, 14, 19, 20, 39, 53] [53, 39, 20, 19, 14, 6]
depois [53, 39, 20, 19, 14, 6]

## Strings e listas

In [61]:
texto = '1.0 2.0 3.2 4.1 5 6 7 8'

In [ ]:
type(texto)

str

In [ ]:
li = texto.split()

In [ ]:
li

['1.0', '2.0', '3.2', '4.1', '5', '6', '7', '8']

In [ ]:
x = 0
for y in li:
  x += int(y)
print(x)

36

In [62]:
# Operações com strings
nome_completo = input('Digite seu nome completo: ')

print(nome_completo.upper())
print(nome_completo.lower())
print(nome_completo.lower().capitalize())
print(nome_completo.split())

# Podemos separar o nome em uma lista, onde poderemos acessar cada um dos nomes
# como um item da lista. O acesso é feito pelo índice do nome na lista
# Temos que lembrar: programadores sempre começam contando de ZERO
nome_separado = nome_completo.split()
print(nome_separado[0])

# Podemos adicionar elementos à lista
nome_separado.append('Teste')
print(nome_separado)

# Podemos excluir elementos pelo indice
del nome_separado[1]
print(nome_separado)

# Para ver o nome como lista nem precisamos criar outra variável
print(nome_completo.split())
# Mas criando outra variável podemos saber o que estamos guardando para uso futuro e
# podemos acessar facilmente um valor guardado

# Mas como uma string já é uma sequencia de caracteres, nem precisamos usar split
# Cuidado com os indices
print(nome_completo[0:5])

ITALO CEZATR EUGENI DE SANTANA
italo cezatr eugeni de santana
Italo cezatr eugeni de santana
['Italo', 'cezatr', 'eugeni', 'de', 'santana']
Italo
['Italo', 'cezatr', 'eugeni', 'de', 'santana', 'Teste']
['Italo', 'eugeni', 'de', 'santana', 'Teste']
['Italo', 'cezatr', 'eugeni', 'de', 'santana']
Italo

### Listas de listas

É possível criar uma lista de listas (o que não é a mesma coisa que concatenar duas listas).

In [63]:
lista_de_listas = [aposta_mega_sena,lista_de_compras,lista_vazia]

In [64]:
print(lista_de_listas)

[[6, 14, 19, 20, 39, 53], ['maçã', 'banana', 'laranja'], [53, 39, 20, 19, 14, 6]]

In [65]:
len(lista_de_listas)

3

Com o primeiro índice obtem-se uma das listas:

In [66]:
lista_de_listas[1]

['maçã', 'banana', 'laranja']

E um segundo índice permite acessar um dado dentro da lista escolhida com o primeiro índice:

In [67]:
lista_de_listas[1][1]

'banana'

### Criando matrizes como lista de listas

In [68]:
linha = [0] *10
print(linha)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Note que nesse comando expandimos um lista com um elemento numa lista de 10 elementos iguais.

In [69]:
matriz = [linha] * 10
print(matriz)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

Nesse segundo comando expandimos uma lista que tinha como elemento único a lista criada no comando anterior e expandimos essa lista de listas 10 vezes.

In [70]:
matriz[5][5]

0

## Exercício 5

Crie uma matriz quadrada de 5x5 elementos e preencha-a da seguinte forma usando loops aninhados:

[[0 1 2 3 4]

 [1 2 3 4 5]

 [2 3 4 5 6]

 [3 4 5 6 7]

 [4 5 6 7 8]]

In [78]:
matriz = []
for i in range(5):
  linha = [0]*4
  print(linha)
  matriz.append(linha)

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [72]:
len(matriz)

5

In [76]:
matriz

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [74]:
for i in range(5):
  for j in range(5):
    matriz[i][j] = i + j

In [ ]:
matriz

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

In [ ]:
matriz = []
for i in range(5):
  matriz.append([])
  for j in range(5):
    matriz[i].append(j+i)
print(matriz)

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8]]

### Criando uma lista com números usando um iterador num dado intervalo e um passo

Usando a função range:

In [ ]:
intervalo = range(100,200,10)

In [ ]:
print(intervalo)

range(100, 200, 10)

In [ ]:
# usando a biblioteca math
import math

for x in intervalo:
  print('A raiz de {} é {:.4f}'.format(x,math.sqrt(x)))

A raiz de 100 é 10.0000
A raiz de 110 é 10.4881
A raiz de 120 é 10.9545
A raiz de 130 é 11.4018
A raiz de 140 é 11.8322
A raiz de 150 é 12.2474
A raiz de 160 é 12.6491
A raiz de 170 é 13.0384
A raiz de 180 é 13.4164
A raiz de 190 é 13.7840

As listas criadas com range não podem ser alteradas.

### Index

Usando o comando index() é possível obter a posição de um elemento numa lista:

In [ ]:
14 in aposta_mega_sena

True

In [ ]:
aposta_mega_sena[2]

14

In [ ]:
aposta_mega_sena.index(14)

2

Se o elemento aparecer mais de uma vez na lista index vai retornar sua primeira posição.

Se o elemento não existir o comando vai retornar um erro e interromper o script. Por isso é conveniente testar se o elemento está contido na lista antes de pedir sua posição:

In [ ]:
valor_buscado = input("Digite um valor:")
if int(valor_buscado) in aposta_mega_sena:
  print("A posição do valor buscado na lista é:",aposta_mega_sena.index(int(valor_buscado)))
else:
  print("O valor buscado não existe na lista")

Digite um valor:10
O valor buscado não existe na lista

Outra maneira de lidar com exceções é criar um bloco 'try + except':

In [ ]:
valor_buscado = input("Digite um valor:")
try:
  print("A posição do valor buscado na lista é:",aposta_mega_sena.index(int(valor_buscado)))
except:
  print("O valor buscado não existe na lista")

Digite um valor:14
A posição do valor buscado na lista é: 1

## Exercício 6

Implemente um script que procure, na matriz criada no exercício anterior, um número digitado pelo usuário. Caso o encontre retorne a linha e a coluna da primeira ocorrência. Caso contrário diga que o valor não existe, sem ocorrência de erro.

In [ ]:
 1 in matriz

False

In [ ]:
valor_buscado = input("Digite um valor:")
achou = False
for i in range(len(matriz)):
  if int(valor_buscado) in matriz[i]:
    print("A posição do valor buscado na matriz é: linha={} coluna={}".format(i,matriz[i].index(int(valor_buscado))))
    achou = True

if not achou:
  print("O valor buscado não existe na matriz")

Digite um valor:8
A posição do valor buscado na matriz é: linha=4 coluna=4

## Cadeias de caracteres - Strings

Os strings são armazenados como sequências de caracteres e podem ser manipulados utilizando índices, como nas listas:

In [ ]:
linha = "Toda célula de um notebook pode ser alterada, menos essa."

In [ ]:
linha[5:]

'célula de um notebook pode ser alterada'

In [ ]:
linha[:-10]

'Toda célula de um notebook pode se'

In [ ]:
"pode" in linha

True

In [ ]:
linha.index("alterada")

36

In [ ]:
linha.index(" ")

4

## Desafio

Escreva a linha faltante.

In [ ]:
i = 0
linha = 'Toda célula de um notebook pode ser alterada, menos essa.'
lista_palavras = []
while ' ' in linha:
  lista_palavras.append(linha[:linha.index(' ')])
  i = linha.index(' ')+1
  ??????????????????????????
  print(i,linha)
lista_palavras.append(linha)
print(lista_palavras)

5 célula de um notebook pode ser alterada, menos essa.
7 de um notebook pode ser alterada, menos essa.
3 um notebook pode ser alterada, menos essa.
3 notebook pode ser alterada, menos essa.
9 pode ser alterada, menos essa.
5 ser alterada, menos essa.
4 alterada, menos essa.
10 menos essa.
6 essa.
['Toda', 'célula', 'de', 'um', 'notebook', 'pode', 'ser', 'alterada,', 'menos', 'essa.']

In [ ]:
i = 0
linha = 'Toda célula de um notebook pode ser alterada, menos essa.'
lista_palavras = []
while ' ' in linha:
  lista_palavras.append(linha[:linha.index(' ')])
  i = linha.index(' ')+1
  if ',' in lista_palavras[-1] :
    lista_palavras[-1] = lista_palavras[-1][:-1]
  linha = linha[i:]
  print(i,linha)
if linha[-1] == '.':
  linha = linha[:-1]
lista_palavras.append(linha)
print(lista_palavras)

5 célula de um notebook pode ser alterada, menos essa.
7 de um notebook pode ser alterada, menos essa.
3 um notebook pode ser alterada, menos essa.
3 notebook pode ser alterada, menos essa.
9 pode ser alterada, menos essa.
5 ser alterada, menos essa.
4 alterada, menos essa.
10 menos essa.
6 essa.
['Toda', 'célula', 'de', 'um', 'notebook', 'pode', 'ser', 'alterada', 'menos', 'essa']

## Exercício 7:

Escreva um script que leia dois textos do teclado e conte quantas sequências de 3 caracteres sucessivos do primeiro texto ocorrem também no segundo.

In [ ]:
texto1 = input("texto 1:")
texto2 = input("texto 2:")
cont = 0
for i in range(len(texto1)-2):
  trecho = texto1[i:i+3]
  if trecho in texto2:
    cont +=1
    print(trecho,texto2.index(trecho))
print(cont)

texto 1:o rato roeu a roupa do rei de roma
texto 2:na roupa do rei da frança havia uma mancha
o r 10
o r 10
 ro 2
a r 1
 ro 2
rou 3
oup 4
upa 5
pa  6
a d 7
 do 8
do  9
o r 10
 re 11
rei 12
ei  13
i d 14
 ro 2
18

In [ ]:
texto1 = input("texto 1:")
texto2 = input("texto 2:")
qtd = 0
while len(texto1)>=3:
  if texto1[:3] in texto2:
    qtd += 1
    print(texto1[:3])
  texto1=texto1[1:]
print("Total de ocorrencias:",qtd)

texto 1:o rato roeu a roupa do rei de roma
texto 2:na roupa do rei da frança havia uma mancha
o r
o r
 ro
a r
 ro
rou
oup
upa
pa
a d
 do
do
o r
 re
rei
ei
i d
 ro
Total de ocorrencias: 18

## Tuplas

São as primas imutáveis das listas. Quase tudo que você pode fazer com uma
lista, que não envolva modificá-la, é possível ser feito em uma tupla. As listas são destinadas a serem sequências homogêneas, enquanto que os Tuplas são estruturas de dados tipicamente heterogêneas. Tuplas são muito utilizadas na passagem de parâmetros de e para rotinas. Você
especifica uma tupla ao usar parênteses (ou nada) em vez de colchetes:

In [ ]:
tupla1 = (1,2.2,"teste")

In [ ]:
print(tupla1)

(1, 2.2, 'teste')

In [ ]:
type(tupla1)

tuple

In [ ]:
x = 10
y = 'casa'
tupla2 = x , y , tupla1

In [ ]:
print(tupla2)

(10, 'casa', (1, 2.2, 'teste'))

In [ ]:
tupla2[1]

'casa'

In [ ]:
tupla2[2][0]

1

In [ ]:
10 in tupla2

True

Para contornar o fato das tuplas serem imutáveis é possível converte-la para lista, fazer as alterações e volta-la para tupla:

In [ ]:
lt = list(tupla1)
print(lt)
lt.append(22)
print(lt)

[1, 2.2, 'teste']
[1, 2.2, 'teste', 22]

In [ ]:
tupla1 = tuple(lt)
print(tupla1)

(1, 2.2, 'teste', 22)

### Index em tuplas

Usando o comando index() é possível obter a posição de um elemento numa tupla também:

In [ ]:
meses = ("janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro")
posição = "primeiro","segundo","terceiro","quarto","quinto","sexto","sétimo","oitavo","nono","décimo","décimo primeiro","décimo segundo"
escolha = input("Escolha um mês:")
print(escolha,"é o ",posição[meses.index(escolha)],"mês do ano" )

Escolha um mês:maio
maio é o  quinto mês do ano

## Exercício 8:

Altere o código acima de forma a evitar que o usuário informe um mês inválido. Repita o procedimento até que ele informe um mês correto.

In [ ]:
meses = ("janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro")
posição = "primeiro","segundo","terceiro","quarto","quinto","sexto","sétimo","oitavo","nono","décimo","décimo primeiro","décimo segundo"
while True:
  escolha = input("Escolha um mês:")
  if escolha in meses:
    print(escolha,"é o ",posição[meses.index(escolha)],"mês do ano" )
    break

Escolha um mês:bfbfbf
Escolha um mês:abril
abril é o  quarto mês do ano

## Exercício 9:

Crie uma tupla com os dias da semana e uma lista a partir de um range variando de 1 a 31. Em seguida peça ao usuário que diga o dia da semana que o primeiro dia desse mês caiu. Use então um loop para mostrar na tela um calendário simplificado mostando o dia do mês e o dia da semana correspondente lado a lado.

In [ ]:
diassemana = ("segunda","terça","quarta","quinta","sexta","sábado","domingo")
diasmes = range(31)
while True:
  inicio = input("O dia 1 desse mês caiu em que dia da semana?")
  if inicio in diassemana:
    start = diassemana.index(inicio)
    break
for i in diasmes:
  print("dia {}: {}".format(i+1,diassemana[(start+i)%7]))

O dia 1 desse mês caiu em que dia da semana?terca
O dia 1 desse mês caiu em que dia da semana?terça
dia 1: terça
dia 2: quarta
dia 3: quinta
dia 4: sexta
dia 5: sábado
dia 6: domingo
dia 7: segunda
dia 8: terça
dia 9: quarta
dia 10: quinta
dia 11: sexta
dia 12: sábado
dia 13: domingo
dia 14: segunda
dia 15: terça
dia 16: quarta
dia 17: quinta
dia 18: sexta
dia 19: sábado
dia 20: domingo
dia 21: segunda
dia 22: terça
dia 23: quarta
dia 24: quinta
dia 25: sexta
dia 26: sábado
dia 27: domingo
dia 28: segunda
dia 29: terça
dia 30: quarta
dia 31: quinta

## Dicionários

Outra estrutura fundamental é o dicionário, que associa valores com chaves e
permite que você recupere o valor correspondente de uma dada chave
rapidamente. Todos os tipos de dados compostos que estudamos em detalhes até agora — strings, listas e tuplas — são coleções sequenciais. Isto significa que os itens na coleção estão ordenados da esquerda para a direita e eles usam números inteiros como índices para acessar os valores que eles contêm.

Dicionário é um tipo diferente de coleção. Ele é um tipo de mapeamento nativo do Python. Um mapa é uma coleção associativa desordenada. A associação, ou mapeamento, é feita a partir de uma chave, que pode ser qualquer tipo imutável, para um valor, que pode ser qualquer objeto de dados do Python.

Como exemplo, vamos criar um dicionário para traduzir palavras em inglês para Espanhol. Para este dicionário, as chaves são strings.

Uma maneira de criar um dicionário é começar com o dicionário vazio e adicionar pares chave-valor. O dicionário vazio é denotado {}

In [ ]:
eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'

In [ ]:
print(eng2sp)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [ ]:
type(eng2sp)

dict

Outra maneira de criar um dicionário é fornecer uma lista de pares chave-valor usando a mesma sintaxe que a saída anterior.

In [ ]:
eng2sp = {'three': 'tres', 'one': 'uno', 'two': 'dos'}

Para acessar um dado do dicionário é preciso usar uma chave existente. O exemplo abaixo mostra como usar uma chave para pesquisar o valor correspondente.

In [ ]:
eng2sp['one']

'uno'

Para obter os nomes das chaves do dicionário use o método keys():

In [ ]:
eng2sp.keys()

dict_keys(['three', 'one', 'two'])

Note que o resultado da função keys é uma lista:

In [ ]:
'two' in eng2sp.keys()

True

Para obter a lista de valores do dicionário use o método 'values()':

In [ ]:
eng2sp.values()

dict_values(['tres', 'uno', 'dos'])

## Exercício 10

Implemente um script com um dicionário com dias da semana em português e sua tradução em inglês. Então permita que o usuário pergunte ao dicionário a tradução para um dia específico. Teste se o dia pedido existe como chave no dicionário e informe ao usuário. Repita esse procedimento dentro de um loop até que o usuário digite a palavra 'fim'.

In [ ]:
diassemana = {"segunda":"monday","terça":"tuesday","quarta":"wednesday","quinta":"thursday","sexta":"friday","sábado":"saturday","domingo":"sunday"}
while True:
  qual = input("Escolha um dia da semana ou fim para terminar:")
  if qual == "fim":
    break
  if qual in diassemana.keys():
    print(diassemana[qual])

Escolha um dia da semana ou fim para terminar:terca
Escolha um dia da semana ou fim para terminar:terça
tuesday
Escolha um dia da semana ou fim para terminar:quarta
wednesday
Escolha um dia da semana ou fim para terminar:fim

### Operações com dicionários

Dicionários também são mutáveis. Como vimos antes, com listas, isso significa que o dicionário pode ser modificado pela referência a uma associação no lado esquerdo de um comando de atribuição. Por exemplo, o seguinte dicionário contém os nomes de várias frutas e o número de cada fruta em estoque:

In [ ]:
inventario = {'kiwis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 217}

print(inventario)
print(len(inventario))

{'kiwis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 217}
4

In [ ]:
inventario['peras'] = 0

In [ ]:
print(inventario)

{'kiwis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 0}

O comando del remove um par chave-valor de um dicionário.  Se alguém compra todas as peras, podemos remover a entrada do dicionário.

In [ ]:
del inventario['peras']
print(inventario)

{'kiwis': 430, 'bananas': 312, 'laranjas': 525}

Para inserir novos dados no dicionário use a atribuição nessa forma:

In [ ]:
inventario['maças'] = 200
print(inventario)

{'kiwis': 430, 'bananas': 312, 'laranjas': 525, 'maças': 200}

## Exercício 11:

Vetores esparsos: é comum em algumas aplicações manipularem grandes coleções de dados onde somente alguns valores são relevantes. Nesse exercício você explorará o uso de dicionários para compactar uma lista cujos valores são majoritariamente 0. Escreva um script que, começando por uma lista de inteiros com 0s e valores não zero gere um dicionário de - para onde as chaves são as posições cujos valores são não zero, juntamente com seus valores. Em seguida mostre que consegue reproduzir a lista original só com o dicionário.

entrada = [0, 0, 0, 1, 0, 0, 5, 0]

dicionario = {3 : 1, 6 : 5}

In [ ]:
matsp = {}
entrada = [0, 0, 0, 1, 0, 0, 5, 0]
for i in range(len(entrada)):
  if entrada[i] != 0:
    matsp[i] = entrada[i]
print(matsp)
saida = [0]*len(entrada)
for x in matsp.keys():
  saida[x] = matsp[x]
print(saida)

{3: 1, 6: 5}
[0, 0, 0, 1, 0, 0, 5, 0]

# Conjuntos

Um conjunto (set) é um tipo de dados de coleção, suportando o operador de associação in, a função len() e é iterável. Conjuntos não possuem noção de ordem por isso seus elementos não podem ser acessados com colchetes [] nem podem ser fatiados.

Os conjuntos (set) não aceitam valores repetidos ao tentar criar um conjunto com valores repetidos eles serão descartados só sobrando um valor do mesmo.

## Criando um conjunto

Conjuntos só aceitam tipos de dados imutáveis como inteiros, floats, tuplas e strings não aceitando listas, dicionários e outros conjuntos (set).

Para criar um conjunto basta colocar os valores entre chaves {} :

In [ ]:
c = {'Paulo', 'Claudio', 'Marcio', 'Erica'}

In [ ]:
type(c)

set

In [ ]:
len(c)

4

In [ ]:
for nome in c:
  print(nome)

Marcio
Paulo
Claudio
Erica

O a sintaxe do método é s.add(x) onde adiciona ao conjunto s o elemento x se esse ainda não existir no conjunto:

In [ ]:
c.add('João')
print(c)

{'João', 'Paulo', 'Marcio', 'Erica', 'Claudio'}

Para retirar um elemento do conjunto use discard:

In [ ]:
c.discard('Erica')
print(c)

{'João', 'Paulo', 'Marcio', 'Claudio'}

É possível adicionar um conjunto a outro:

In [ ]:
c.update({'Maria','José'})
print(c)

{'João', 'Paulo', 'Maria', 'Marcio', 'José', 'Claudio'}

Os conjuntos são bastante úteis quando se deseja realizar operações típicas desse tipo de estrutura, como as uniões, interseções e diferenças:

In [ ]:
d = {'Tiago','João','José','Carla'}

In [ ]:
c.difference(d)

{'Claudio', 'Marcio', 'Maria', 'Paulo'}

In [ ]:
d.difference(c)

{'Carla', 'Tiago'}

In [ ]:
d.intersection(c)

{'José', 'João'}

In [ ]:
d.union(c)

{'Carla', 'Claudio', 'José', 'João', 'Marcio', 'Maria', 'Paulo', 'Tiago'}

Podemos ainda criar conjuntos a partir de uma lista ou tupla com set, uma grande vantagem é por exemplo limpar os dados repetidos em uma lista:

In [ ]:
li = ['Maçã', 'Laranja', 'Uva', 'Abacaxi', 'Maçã', 'Abacate', 'Laranja']
frutas = set(li)
print(frutas)

{'Maçã', 'Abacaxi', 'Uva', 'Laranja', 'Abacate'}

In [ ]:
li = list(frutas)
print(li)

['Maçã', 'Abacaxi', 'Uva', 'Laranja', 'Abacate']

## Exercício 12:

Crie um conjunto com os elementos contidos na matriz criada no exercício 5 de forma a mostrar os números alí contidos sem repetição.

In [ ]:
matriz

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

In [ ]:
resp = set()
for x in matriz:
  resp = resp.union(set(x))
print(resp)

{0, 1, 2, 3, 4, 5, 6, 7, 8}